{% extends 'layouts/login-layout.html' %}
{% block content %}
    <div class="card login-card">
        <div class="card-body p-4">

            <h2 class="text-center mb-4">
                Login
            </h2>

            <form>

                <div class="mb-3">
                    <label>Usuario</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" class="form-control">
                </div>

                <button class="btn btn-success w-100">
                    Iniciar Sesión
                </button>

            </form>

        </div>
    </div>

{% endblock %}