{% extends 'layouts/login-layout.html' %}
{% block content %}

    <div class="card login-card">
        <div class="card-body p-4">

            <h2 class="text-center mb-4">
                Registro de usuario
            </h2>

            <form>

                <div class="mb-3">
                    <label>Correo</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Nombre</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Apellidos</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Repita contraseña</label>
                    <input type="password" class="form-control">
                </div>

                <button class="btn btn-success w-100">
                    Enviar
                </button>

            </form>

        </div>
    </div>

{% endblock %}